body{ 
    font-family: 'Catamaran', sans-serif;
    background-image: url('../images/background.png');
    background-repeat: repeat;
}

#myGame{
    display: none;
}

#myWelcome{
    text-align: center;
}

#welcomeImg{
    width: 300px;   
    margin: 40px;
}

.forName{
    width: 380px;
    margin: 10px auto;
    height: 3em;
    font-size: 1.4em;
    line-height: 1.4em;
}

button{
    margin-top: 20px;
}

#loading{
    text-align: center;
}

#loading h2{
    margin-top: 150px;
}

.progress{
    margin: 40px auto;
    width: 80%; 
}

#game{
    width: 90%;
    margin: 0 auto;
}

#game h2{
    float:right;
    margin-top: 50px;
    margin-right: 80px;
}

#game button{
    margin-top: 50px;
}

.menu-bar{
    margin-top: 20px;
} 

.menu-bar img{
    width: 150px;
}


.jumbotron{
    margin-top: 30px;
}

.answer{
    margin-left: 100px;
}

.answer:hover{
    color: blue;
    font-style: italic;
}







